* {
    box-sizing: border-box;
}

.wrapper {
   padding: 10px;
   position: relative;
}

.box-B {
   position: relative;
   background: #BDF3EA;
   height: 70px;
   border-radius: 20px;
   padding:8px;
   margin-right: -20px;
   margin-left: 20px;
}
.box-A {
   position: relative;
   background: #BEFACF;
   height: 70px;
   border-radius: 20px;
   padding: 8px;
   margin-right: 20px;
   margin-left: -20px;
}
